<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <#import "/spring.ftl" as spring />
    <link href="<@spring.url '/bootstrap/css/bootstrap.css' />" rel="stylesheet" />
    <#--    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet" />-->
    <title>Note Book</title>
</head>
<body>

<!-- HEADER -->
<nav class="navbar-primary bg-primary">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
            <div class="container-fluid me-md-auto">
                <a class="navbar-brand text-light" href="/">Note Book</a>
                <div class="navbar-nav">
                    <a class="nav-link text-light" href="<@spring.url '/note/new'/>">NEW</a>
                    <a class="nav-link text-light active" href="<@spring.url '/note/all'/>">NOTES</a>
                    <a class="nav-link text-light" href="<@spring.url '/group/all'/>">GROUPS</a>
                </div>
            </div>
        </nav>
    </div>
</nav>

<div class="container" style="padding-top: 30px">
    <div class="mb-3">
        <label class="form-label">Group</label>
        <input class="form-control" type="text" value="Group" aria-label="Group" disabled readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Name note</label>
        <input class="form-control" type="text" value="Name" aria-label="Group" disabled readonly>
    </div>

    <div id="text"></div>
    <span id="test" style="display: none">${note.text}</span>
</div>
<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="<@spring.url '/bootstrap/js/bootstrap.js'/>"></script>
<#--<script src="../../static/bootstrap/js/bootstrap.js"></script>-->
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
<script src="<@spring.url '/js/groups.js'/>"></script>
<#--<script src="../../static/js/groups.js"></script>-->
<script src="<@spring.url '/js/search.js'/>"></script>
<#--<script src="../../static/js/search.js"></script>-->
</body>
</html>