<!DOCTYPE html>
<html lang="en">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<label for="text"></label><p id="text"></p>

<button onclick="getMark('## Ссылка\n'+
'https://t.me/notebookmanager_bot\n'+
'\n'+
'## Клонировать репозиторий\n'+
'https://git.heroku.com/notebook-bot.git\n'+
'\n'+
'## Внести изменения\n'+
'\n'+
'## Пушить:\n'+
'>  git add .\n'+
'>  git commit -m \n'+
'> git push heroku master\n'+
'> heroku ps:scale web=1\n'+
'\n'+
'## Создать переменную окружения\n'+
'heroku config:set' +
        '\n'+
        '## Логи\n'+
        '> Онлайн https://dashboard.heroku.com/apps/notebook-bot/logs\n'+
        '> Консоль heroku logs --tail')"></button>


<script src="../static/js/script.js"></script>
<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>